// docker.enabled = true


params {
    standalone = null

    genomes = '/path/to/metadata.csv'
    uvdb = '/path/to/db'

    results = 'results'
    
    annotate = false

    // Contigs below this length are excluded from the analysis
    min_contig_len = 2000
    // Minimum overall sequence length of a putative (pro)phage
    min_phage_len = 10000
    // Minimum number of viral genes in a putative (pro)phage
    min_viral_genes = 3 
    // Minimum E-value for HMM search 
    min_e_hmm = 0.000001

    // Maximum RAM available to load protein database
    maxram = 8
}
